{#
/**
 * @file
 * Template for a one-two-one-cl column panel layout.
 */
#}
<div class="cog-pl panel-cog-layout-one-two-one-cl" {% if css_id %}{{ css_id }}{% endif %}>
    <div class="panel-panel">
        <div class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <div class="cog-layout--top">{{ content.top }}</div>
            </div>
        </div>
        <main class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <section class="cog-layout--middle-left">{{ content.middle_left }}</section>
                <aside class="cog-layout--middle-right">{{ content.middle_right }}</aside>
            </div>
        </main>
        <div class="cog-panel--fullrow">
            <div class="cog-panel--mq">
                <div class="cog-layout--bottom">{{ content.bottom }}</div>
            </div>
        </div>
    </div>
</div>